body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
  
    font-size: 14px;
    font-family: "Arial", sans-serif;
  }
  
  table{
    border-collapse: collapse;
    width: 100%;
  }
  
  th{
    border-bottom: 1px solid black;
    border-top:1px solid black;
    background-color: darkcyan;
    padding: 10px 10px 10px 10px;
    color:white;
    width: 33%;
  }
  
  td {
    width: 33%;
    padding: 10px 10px 10px 10px;
  }
  
  .col1 {
    text-align: left;
  }
  
  .col2 {
    text-align: right;
  }
  
  .col3{
    text-align: center;
  }
  
  .color1{
    background-color: lightblue;
  }
  
  .color3{
    background-color: lightyellow;
  }